/* Estilos gerais (para resoluções menores, incluindo o iPhone 11) */
body {
    margin: 0; /* Removendo a margem */
    padding: 0; /* Removendo o preenchimento */
    font-family: Arial, Arial, Helvetica, sans-serif; /* Definindo a fonte */
    display: flex; /* utilizando o flexbox */
    flex-direction: column; /* Alinhar os elementos em uma colunas */
    min-height: 100vh; /* garante que a página tenha a altura mínima da página */
}

header {
    background-color: #333; /* Definindo a cor do fundo */
    color: white; /* cor branca */
    text-align: center; /* centraliza o texto */
    padding: 1rem 0; /* Espacamento interior (superior e inferior) */ 
}

nav {
    background-color: #f4f4f4; /* Definindo a cor do fundo */
    padding: 1rem; /* Espacamento interno ao redor do conteúdo*/
    width: 200px; /* Largura fixa do menu */
    flex-shrink: 0; /* Reduzindo o espaçamento do menu (evita encolher)*/
}

main {
    flex-grow: 1; /* Permite que o conteudo ocupe o espaco disponvivel */
    padding: 1rem;
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

.container {
    display: flex;
    flex-grow: 1;
}

nav ul {
    list-style: none; /* Removendo os pontos da lista */
    padding: 0 0 0 20px; /* Removendo o espacamento interno */
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none; /* Removendo o sublinhado */
    color: #333;
}

nav ul li a:hover {
    color: #007bff;
}

.content {
    margin-left: 20px;
}

/* Estilos para resoluções maiores que a do iPhone 11 (largura acima de 414px) */
@media only screen and (min-width: 415px) {
    body {
        font-size: 18px; /* Aumentando o tamanho da fonte */
    }

    header {
        padding: 1.5rem 0; /* Aumentando o espaçamento no cabeçalho */
        font-size: 1.5rem; /* Aumentando o tamanho da fonte no cabeçalho */
    }

    nav {
        width: 250px; /* Aumentando a largura do menu de navegação */
        padding: 1.5rem; /* Aumentando o espaçamento interno */
    }

    main {
        padding: 1.5rem; /* Aumentando o padding do conteúdo principal */
    }

    footer {
        padding: 1.5rem 0; /* Aumentando o espaçamento no rodapé */
    }

    .content {
        margin-left: 30px; /* Aumentando a margem à esquerda do conteúdo principal */
    }

    nav ul {
        padding: 0 0 0 30px; /* Aumentando o espaçamento interno na lista de navegação */
    }

    nav ul li {
        margin: 15px 0; /* Aumentando o espaçamento entre os itens da lista */
    }

    nav ul li a {
        font-size: 1.1rem; /* Aumentando o tamanho da fonte dos links */
    }
}
